oauth2:
  clients:
    client-name:
      id: id
      secret: secret
      redirect_uri: http://www.example.com/
  server:
    authorize_uri: http://www.example.com/auth
    token_uri: http://www.example.com/token
    user_uri: http://www.example.com/user
    client_id: client_id
    client_secret: client_secret
    scope: profile email
