alembic==0.9.5
-e git+https://github.com/elifesciences/bus-sdk-python.git@49a0b0ecc55f99bc55a61f3e9b613ea88e3ff5a5#egg=bus-sdk-python
-e git+https://github.com/elifesciences/api-validator-python.git@2971a2146321d48cc88c9c9f36e8fd72740dbfee#egg=api-validator-python
astroid==1.5.3
blinker==1.4
certifi==2017.7.27.1
chardet==3.0.4
click==6.7
flake8==3.4.1
flake8-import-order==0.13
Flask==0.12
Flask-Migrate==2.1.1
Flask-Script==2.0.5
Flask-SQLAlchemy==2.2
freezegun==0.3.9
hypothesis==3.32.0
idna==2.6
iso3166==0.8
isort==4.2.15
itsdangerous==0.24
jsonschema==2.6.0
Jinja2==2.9.6
lazy-object-proxy==1.3.1
Mako==1.0.7
MarkupSafe==1.0
mccabe==0.6.1
newrelic==2.92.0.78
pendulum==1.2.5
psycopg2==2.7.3.1
py==1.4.34
pycodestyle==2.3.1
pyflakes==1.5.0
pylint==1.7.2
pytest==3.2.1
pytest-socket==0.2.0
python-dateutil==2.6.1
python-editor==1.0.3
python-json-logger==0.1.8
pytz==2017.2
pytzdata==2017.2.2
PyYAML==3.12
requests==2.18.4
requests-mock==1.3.0
retrying==1.3.3
six==1.10.0
SQLAlchemy==1.1.14
tzlocal==1.4
urllib3==1.22
uWSGI==2.0.15
Werkzeug==0.12.2
wrapt==1.10.11
