# file generated 2022-07-28 - see update-dependencies.sh
alembic==0.9.10
api-validator-python @ git+https://github.com/elifesciences/api-validator-python.git@01a5a9203b0fdfa8d6c4c3650e9999d8e90fe67b
astroid==1.6.6
asttokens==2.0.5
atomicwrites==1.4.1
attrs==21.4.0
backcall==0.2.0
blinker==1.5
boto3==1.24.39
botocore==1.27.39
certifi==2022.6.15
charset-normalizer==2.1.0
click==7.1.2
coverage==4.5.4
decorator==5.1.1
elife-bus-sdk==0.0.7
executing==0.9.1
Faker==0.9.3
flake8==3.9.2
flake8-import-order==0.18.1
Flask==1.1.4
Flask-Migrate==2.7.0
Flask-Script==2.0.6
Flask-SQLAlchemy==2.5.1
freezegun==0.3.15
hypothesis==4.18.3
idna==3.3
ipdb==0.13.9
ipython==8.4.0
iso3166==0.9
isort==5.10.1
itsdangerous==0.24
jedi==0.18.1
Jinja2==2.11.3
jmespath==0.10.0
jsonschema==2.6.0
lazy-object-proxy==1.7.1
Mako==1.2.1
MarkupSafe==2.0.1
matplotlib-inline==0.1.3
mccabe==0.6.1
more-itertools==8.13.0
newrelic==2.106.1.88
parso==0.8.3
pendulum==1.5.1
pexpect==4.8.0
pickleshare==0.7.5
pluggy==1.0.0
prompt-toolkit==3.0.30
psycopg2-binary==2.9.3
ptyprocess==0.7.0
pure-eval==0.2.2
py==1.11.0
pycodestyle==2.7.0
pydevd==1.4.0
pyflakes==2.3.1
Pygments==2.12.0
pylint==1.9.4
pytest==3.10.1
pytest-socket==0.5.1
python-dateutil==2.8.2
python-editor==1.0.4
python-json-logger==0.1.11
pytz==2022.1
pytzdata==2020.1
PyYAML==5.4
requests==2.28.1
requests-mock==1.9.3
retrying==1.3.3
s3transfer==0.6.0
six==1.16.0
SQLAlchemy==1.3.24
stack-data==0.3.0
text-unidecode==1.2
toml==0.10.2
traitlets==5.3.0
tzlocal==1.5.1
urllib3==1.26.11
uWSGI==2.0.20
uwsgi-tools==1.1.1
wcwidth==0.2.5
Werkzeug==0.16.1
wrapt==1.14.1
