# file generated 2024-01-15 - see update-dependencies.sh
alembic==0.9.10
api-validator-python @ git+https://github.com/elifesciences/api-validator-python.git@01a5a9203b0fdfa8d6c4c3650e9999d8e90fe67b
astroid==2.15.8
attrs==23.2.0
blinker==1.7.0
boto3==1.34.19
botocore==1.34.19
certifi==2023.11.17
charset-normalizer==3.3.2
click==8.1.7
coverage==4.5.4
dill==0.3.7
elife-bus-sdk==0.0.7
exceptiongroup==1.2.0
Faker==17.6.0
flake8==6.1.0
flake8-import-order==0.18.2
Flask==2.2.5
Flask-Migrate==4.0.1
Flask-SQLAlchemy==2.5.1
freezegun==0.3.15
hypothesis==4.18.3
idna==3.6
importlib-metadata==7.0.1
iniconfig==2.0.0
iso3166==0.9
isort==5.13.2
itsdangerous==2.1.2
Jinja2==3.1.3
jmespath==0.10.0
jsonschema==2.6.0
lazy-object-proxy==1.10.0
Mako==1.3.0
MarkupSafe==2.1.3
mccabe==0.7.0
packaging==23.2
pendulum==1.5.1
platformdirs==4.1.0
pluggy==1.3.0
psycopg2-binary==2.9.9
pycodestyle==2.11.1
pyflakes==3.1.0
pylint==2.17.7
pytest==7.4.4
pytest-socket==0.6.0
python-dateutil==2.8.2
python-editor==1.0.4
python-json-logger==0.1.11
pytz==2023.3.post1
pytzdata==2020.1
PyYAML==5.4
requests==2.31.0
requests-mock==1.11.0
retrying==1.3.4
s3transfer==0.10.0
six==1.16.0
SQLAlchemy==1.3.24
tomli==2.0.1
tomlkit==0.12.3
typing_extensions==4.9.0
tzlocal==1.5.1
urllib3==1.26.18
uWSGI==2.0.23
uwsgi-tools==1.1.1
Werkzeug==3.0.1
wrapt==1.16.0
zipp==3.17.0
